{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
       <div class="content-w" >
          <div class="content-i">
            <div class="content-box">
              <div class="element-wrapper compact pt-4">
                <div class="element-actions">
                  <a class="btn btn-primary btn-sm" href="#"><i class="os-icon os-icon-ui-22"></i><span>Resat Account</span></a><!-- <a class="btn btn-success btn-sm" href="#"><i class="os-icon os-icon-grid-10"></i><span>Make Payment</span></a> -->
                </div>
                <h6 class="element-header">
                  Create Marchant
                </h6>

              </div>
              <div class="row">
               <div class="element-box" style="width: 100%;margin-top: -9%;">
                <form>
                  <fieldset class="form-group">
                    <legend><span>Owner Info</span></legend>
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label for=""> First Name</label><input class="form-control" placeholder="First Name" type="text">
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label for="">Last Name</label><input class="form-control" placeholder="Last Name" type="text">
                        </div>
                      </div>
                    </div>
                    <div class="row">

                       <div class="col-sm-6">
                      <div class="form-group">
                        <label for="">Phone Number</label><input class="form-control" placeholder="Phone" type="First Name">
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="">Email</label><input class="form-control" placeholder="Email" type="password">
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="">NID / Passport</label><input class="form-control" placeholder="nid" type="password">
                      </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                          <label for=""> Date of Birth</label>
                          <div class="date-input">
                            <input class="single-daterange form-control" placeholder="Date of birth" type="text" value="04/12/1978">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label> Address</label><textarea class="form-control" rows="3"></textarea>
                    </div>
                  </fieldset>

                  <fieldset class="form-group">
                    <legend><span>Business Info</span></legend>
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label for=""> Business Name</label><input class="form-control" placeholder="Business Name" type="text">
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label for="">Business Model</label><select class="form-control">
                            <option>
                              Select State
                            </option>
                            <option>
                              New York
                            </option>

                          </select>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label for="">Website</label><input class="form-control" placeholder="Website Name" type="text">
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label for="">Facebook Page / Group</label><input class="form-control" placeholder="Website Name" type="text">
                        </div>
                      </div>
                    </div>
                  </fieldset>


                  <fieldset class="form-group">
                    <legend><span>Paymeny info</span></legend>
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="form-group">
                          <label for=""> Bank Details</label><select class="form-control">
                            <option>
                              Bank
                            </option>
                            <option>
                              Cash
                            </option>
                            <option>
                             Wallet
                            </option>

                          </select>
                        </div>
                      </div>

                      <div class="col-sm-6">
                        <div class="form-group">
                          <label for="">Accont Name</label><input class="form-control" placeholder="bankName" type="text">
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label for="">Accont Number</label><input class="form-control" placeholder="Accont" type="text">
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label for="">Roucting</label><input class="form-control" placeholder="Roucting" type="text">
                        </div>
                      </div>
                       <div class="col-sm-6">
                        <div class="form-group">
                          <label for="">Branch</label><input class="form-control" placeholder="Branch" type="text">
                        </div>
                      </div>

                    </div>
                  </fieldset>
                  <fieldset class="form-group">
                    <legend><span>Mobile Wallet</span></legend>
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label for=""> Wallet Type</label><select class="form-control">
                            <option>
                              Bank
                            </option>
                            <option>
                              Cash
                            </option>
                            <option>
                             Wallet
                            </option>

                          </select>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label for="">Wallet Number</label><input class="form-control" placeholder="First Name" type="text">
                        </div>
                      </div>
                    </div>
                  </fieldset>

                  <fieldset class="form-group">
                    <legend><span>Contact info</span></legend>
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label for=""> First Name</label><input class="form-control" placeholder="First Name" type="text">
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label for="">Last Name</label><input class="form-control" placeholder="Last Name" type="text">
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label for=""> Phone Number</label><input class="form-control" placeholder="First Name" type="text">
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label for="">Email</label><input class="form-control" placeholder="Last Name" type="text">
                        </div>
                      </div>
                    </div>


                  </fieldset>
                  <div class="form-check">
                    <label class="form-check-label"><input class="form-check-input" type="checkbox">I agree to terms and conditions</label>

                    <button class="btn btn-primary" type="submit" style="float: right;"> Submit</button>

                  </div>

                </form>
              </div>
              </div>
              <!--START - Transactions Table-->

              <!--END - Transactions Table--><!--------------------
              START - Color Scheme Toggler
              -------------------->
              <div class="floated-colors-btn second-floated-btn">
                <div class="os-toggler-w">
                  <div class="os-toggler-i">
                    <div class="os-toggler-pill"></div>
                  </div>
                </div>
                <span>Dark </span><span>Colors</span>
              </div>
              <!--------------------
              END - Color Scheme Toggler
              --------------------><!--------------------
              START - Demo Customizer
              -------------------->
              <div class="floated-customizer-btn third-floated-btn">
                <div class="icon-w">
                  <i class="os-icon os-icon-ui-46"></i>
                </div>
                <span>Customizer</span>
              </div>
              <div class="floated-customizer-panel">
                <div class="fcp-content">
                  <div class="close-customizer-btn">
                    <i class="os-icon os-icon-x"></i>
                  </div>
                  <div class="fcp-group">
                    <div class="fcp-group-header">
                      Menu Settings
                    </div>
                    <div class="fcp-group-contents">
                      <div class="fcp-field">
                        <label for="">Menu Position</label><select class="menu-position-selector">
                          <option value="left">
                            Left
                          </option>
                          <option value="right">
                            Right
                          </option>
                          <option value="top">
                            Top
                          </option>
                        </select>
                      </div>
                      <div class="fcp-field">
                        <label for="">Menu Style</label><select class="menu-layout-selector">
                          <option value="compact">
                            Compact
                          </option>
                          <option value="full">
                            Full
                          </option>
                          <option value="mini">
                            Mini
                          </option>
                        </select>
                      </div>
                      <div class="fcp-field with-image-selector-w">
                        <label for="">With Image</label><select class="with-image-selector">
                          <option value="yes">
                            Yes
                          </option>
                          <option value="no">
                            No
                          </option>
                        </select>
                      </div>
                      <div class="fcp-field">
                        <label for="">Menu Color</label>
                        <div class="fcp-colors menu-color-selector">
                          <div class="color-selector menu-color-selector color-bright selected"></div>
                          <div class="color-selector menu-color-selector color-dark"></div>
                          <div class="color-selector menu-color-selector color-light"></div>
                          <div class="color-selector menu-color-selector color-transparent"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="fcp-group">
                    <div class="fcp-group-header">
                      Sub Menu
                    </div>
                    <div class="fcp-group-contents">
                      <div class="fcp-field">
                        <label for="">Sub Menu Style</label><select class="sub-menu-style-selector">
                          <option value="flyout">
                            Flyout
                          </option>
                          <option value="inside">
                            Inside/Click
                          </option>
                          <option value="over">
                            Over
                          </option>
                        </select>
                      </div>
                      <div class="fcp-field">
                        <label for="">Sub Menu Color</label>
                        <div class="fcp-colors">
                          <div class="color-selector sub-menu-color-selector color-bright selected"></div>
                          <div class="color-selector sub-menu-color-selector color-dark"></div>
                          <div class="color-selector sub-menu-color-selector color-light"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="fcp-group">
                    <div class="fcp-group-header">
                      Other Settings
                    </div>
                    <div class="fcp-group-contents">
                      <div class="fcp-field">
                        <label for="">Full Screen?</label><select class="full-screen-selector">
                          <option value="yes">
                            Yes
                          </option>
                          <option value="no">
                            No
                          </option>
                        </select>
                      </div>
                      <div class="fcp-field">
                        <label for="">Show Top Bar</label><select class="top-bar-visibility-selector">
                          <option value="yes">
                            Yes
                          </option>
                          <option value="no">
                            No
                          </option>
                        </select>
                      </div>
                      <div class="fcp-field">
                        <label for="">Above Menu?</label><select class="top-bar-above-menu-selector">
                          <option value="yes">
                            Yes
                          </option>
                          <option value="no">
                            No
                          </option>
                        </select>
                      </div>
                      <div class="fcp-field">
                        <label for="">Top Bar Color</label>
                        <div class="fcp-colors">
                          <div class="color-selector top-bar-color-selector color-bright selected"></div>
                          <div class="color-selector top-bar-color-selector color-dark"></div>
                          <div class="color-selector top-bar-color-selector color-light"></div>
                          <div class="color-selector top-bar-color-selector color-transparent"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--------------------
              END - Demo Customizer
              --------------------><!--------------------
              START - Chat Popup Box
              -------------------->
              <div class="floated-chat-btn">
                <i class="os-icon os-icon-mail-07"></i><span>Demo Chat</span>
              </div>
              <div class="floated-chat-w">
                <div class="floated-chat-i">
                  <div class="chat-close">
                    <i class="os-icon os-icon-close"></i>
                  </div>
                  <div class="chat-head">
                    <div class="user-w with-status status-green">
                      <div class="user-avatar-w">
                        <div class="user-avatar">
                          <img alt="" src="{% static 'img/avatar1.jpg' %}">
                        </div>
                      </div>
                      <div class="user-name">
                        <h6 class="user-title">
                          John Mayers
                        </h6>
                        <div class="user-role">
                          Account Manager
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="chat-messages">
                    <div class="message">
                      <div class="message-content">
                        Hi, how can I help you?
                      </div>
                    </div>
                    <div class="date-break">
                      Mon 10:20am
                    </div>
                    <div class="message">
                      <div class="message-content">
                        Hi, my name is Mike, I will be happy to assist you
                      </div>
                    </div>
                    <div class="message self">
                      <div class="message-content">
                        Hi, I tried ordering this product and it keeps showing me error code.
                      </div>
                    </div>
                  </div>
                  <div class="chat-controls">
                    <input class="message-input" placeholder="Type your message here..." type="text">
                    <div class="chat-extra">
                      <a href="#"><span class="extra-tooltip">Attach Document</span><i class="os-icon os-icon-documents-07"></i></a><a href="#"><span class="extra-tooltip">Insert Photo</span><i class="os-icon os-icon-others-29"></i></a><a href="#"><span class="extra-tooltip">Upload Video</span><i class="os-icon os-icon-ui-51"></i></a>
                    </div>
                  </div>
                </div>
              </div>
              <!--------------------
              END - Chat Popup Box
              -------------------->
            </div>
          </div>
        </div>
{% endblock %}
